<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <title>GameBuilder Players</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/games">Game Builder</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/games">Score</a></li>
                <li class="active"><a href="#">Player</a></li>
                <li><a href="http://fluency.knownspace.org/student-files/fall2017/a7/fall2017_a7_team2/launch.jnlp">Start Game Builder</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h3>Players</h3>
    <table class="table table-striped">
        <tr>
            <th>PlayerId</th>
            <th>PlayerName</th>
        </tr>
        <tr th:each="player : ${playerList}">
            <td th:text="${player.playerId}"></td>
            <td th:text="${player.playerName}"></td>
        </tr>
    </table>
</div>
</body>
</html>